@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* Fix checkbox alignment instead of Tailwind's naive `vertical-align: middle` */
input[type="checkbox"] {
    vertical-align: top;
    height: 1em;
    width: 1em;
    margin-top: 0.25em;
}

@layer components {
    /* .pax {
        @apply text-sm;
    } */

    .pax .pax-field-control-input {
        @apply py-[0.5em] px-[0.5em] leading-normal
            border border-zinc-300
            bg-inherit text-black
            dark:bg-inherit dark:text-white dark:border-zinc-700;
        font-size: inherit;
    }

    .pax .pax-field-control-input.has-errors:not(.phx-no-feedback) {
        @apply bg-red-200 dark:bg-red-900 ring-red-400 dark:ring-red-700;
    }

    /* Tailwind resets buttons and submits to be unstyled, so we have to apply the same style as pax.css */
    .pax button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
        @apply py-1 px-2
            bg-black text-white
            dark:bg-white dark:text-black;
    }
}

/* @media (prefers-color-scheme: dark) {
    .pax-index-table-header {
        background: rgba(255, 255, 255, 0.1);
    }

    .pax-index-table-row:nth-child(2n) {
        background: rgba(255, 255, 255, 0.05);
    }
} */
